{% extends 'base.html.twig' %}

{% block title %}Personnes index{% endblock %}

{% block body %}
    <h1>Personnes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code_postal</th>
                <th>Description</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.adresse }}</td>
                <td>{{ personne.ville }}</td>
                <td>{{ personne.codePostal }}</td>
                <td>{{ personne.description }}</td>
                <td>{{ personne.email }}</td>
                <td>
                    <a href="{{ path('personnes_show', {'id': personne.id}) }}">show</a>
                    <a href="{{ path('personnes_edit', {'id': personne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personnes_new') }}">Create new</a>
{% endblock %}
